@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="mensaje">Welcome</h1>
    <button type="button" onclick="cambiarTexto()">Saludar</button>
    <script>
        function cambiarTexto() {
            var mensaje = document.getElementById("mensaje");
            if (mensaje.innerHTML === "Welcome") {
                mensaje.innerHTML = "Hola!";
            } else {
                mensaje.innerHTML = "Welcome";
            }
        }
    </script>
</div>
